{% extends "base.html" %}
{% load static %}

{% block metadescription %}
{% if category %}
    {{ category.description|truncatewords:155 }}
{% else %}
    Welcome to our store.
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
    {{ category.name }} - Merch Store
{% else %}
    See our range of Merch
{% endif %}
{% endblock %}

{% block content %}
<!--Breadcrumb navigation-->
<div class="row text-light w-100">
<div class="col-1"></div>
<div class="col-10 container card bg-dark p-3 m-3">
    <form class="d-flex m-auto" action="{% url 'search:searchResult' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% if category %}
    <div class="row">
        <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{category.name}}</p>
        </div>
    </div>
    {% endif %}
    <div class="card bg-dark p-3 m-3">
        {% if category %}
        <img src="{{category.image.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
    {% else %}
    <img class="container" src="{% static 'images/storebanner.png' %}"
        style="height: 24em;" alt="Our Products Collection">
    <br>
    <div>
        <h1 class="text-center">All Products</h1>
        <p class="text-center">Find the perfect memorabilia for you</p>
    </div>
</div>

{% endif %}
<div class="container">
    <div class="row mx-auto">
        {% for product in products %}
        <div class="col-9 col-lg-4 col-sm-12 col-md-4">
            <div class="card text-center text-dark mt-2">
                <a class="img" href="{{product.get_absolute_url}}"><img class="card-img-top my_img" src="{{product.image.url}}" alt="{{product.name}}"
                    style="max-width: 400px; max-height: 350px; width: 100%;"></a>
                <div class="card-body border-top">
                    <h4>{{product.name}}</h4>
                    <p>€{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}"
                class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
</div>
</div>
{% endblock %}