{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h5><a class="ml-3" href="{% url 'posts:vote_list' %}">
    <- Back</a>
</h5>
<div class="row w-100">
 <div class="container ml-3 col-7">
    <div class="card d-flex flex-nowrap bg-dark rounded p-3">
       <div class="shadow w-100 bg-light d-inline-block">
          <div class="card shadow m-1">
             <h1 class="card-title text-center">{{ vote.post.title }} | {{ vote.category }}</h1>
             <p class="text-center"><a href="{{ vote.post.get_absolute_url }}">Original post</a></p>
          </div>
          <div class="float-left">
             <img class="shadow m-2 img-thumbnail original-post-image" src="{{ vote.post.image.url }}"
                alt="{{ vote.post.title }}">
          </div>
          <h2 class="card-text">{{ vote.description }}</h2>
          <form action="" method="post" id="loginForm">
            {% csrf_token %}
            <h1 class="text-dark">Votes: {{vote.votes}}/3</h1>
            <button class="text-dark" type="submit" value="Vote">Vote</button>
        </form>        
       </div>
       <div class="card-footer bg-dark p-0">
       </div>
       <div class="col-5 m-0"></div>
    </div>
    <div class="mb-3"></div>
    <!--For Comments-->
</div>
<div class="w-100 row mt-3">
{% endblock %}